$bs-blue:#133370;
$bs-gradient-green:#009ba5;
$bs-gradient-green2:#41b6c5;
$bs-gradient-blue:#2d99b6;
$bs-gradient-violet:#90358B;
$bs-gradient-violet2:#7a5ca1;
$bs-gradient-orange:#e9550c;
$bs-daanse-orange:#F49423;

$bs-grey:#efefef;
$bs-white: #fff;

$bs-text-light: #fff;
$bs-text-dark: #343a40;
$bs-text-grey: #868585;

:root{
  --bs-blue: #{$bs-blue};
  --bs-gradient-green: #{$bs-gradient-green};
  --bs-text-light: #{$bs-text-light};
  --bs-text-dark: #{$bs-text-dark};
  --bs-text-grey: #{$bs-text-grey};
  --bs--grey: #{$bs-grey};
  --va-primary: #{$bs-blue};
}
