$base_path_branding:'@/assets/branding';
$base_path_icon:'@/assets/icons';
$base_path_fonts:'@/assets/fonts';

@function getAssetBranding($path){
  @return $base_path_branding+'/'+$path;
}
@function getAssetIcon($path){
  @return $base_path_icon+'/'+$path;
}
@function getAssetFonts($path){
  @return $base_path_fonts+'/'+$path;
}

